{% extends "leiaute.twig" %}

{% block titulo %}Projeto Silex E API{% endblock %}
{% block tituloPanel %}Editar Produto{% endblock %}

{% block conteudo %}
<form action="{{path('atualizarProduto', {id:produto.id})}}" method="post">
  <fieldset>
   <center>
      Id: {{produto.id}}<br>
      <input type="hidden" name="id" value="{{produto.id}}"><br>
      Nome:<br>
      <input type="text" name="nome" value="{{produto.nome}}"><br>
      Descricao:<br>
      <textarea name="descricao" rows="4" cols="50">{{produto.descricao}}</textarea><br>
      Valor:<br>
      <input type="number" name="valor" max="999999999999.99" step="0.01" value="{{produto.valor}}"><br>
      <input type="submit" value="Salvar">
    </center>
  </fieldset>
</form>
{% endblock %}
